<div class="container">
  <div class="side">
    <table>
      <thead>
        <tr>
          <th>Dia</th>
          <th>Data</th>
          <th>Valor</th>
          <th>Variação em relaçào a D-1</th>
          <th>Variação em relação a primeira data</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dado of assetVariation">
          <td>{{ dado.pregao }}</td>
					<td>{{ dado.abertura | currency:'BRL'}}</td>
          <td>{{ dado.fechamento | currency:'BRL' }}</td>
          <td>{{ dado.diferencaPercentual  }}</td>
          <td>{{ dado.diferencaPercentualInicio }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
